<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% extends 'html/bases.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interprise</title>
</head>
<body>
    {% block header %}\
    <main>
        <nav class="navbar navbar-light bg-light" id="nav-enterprise">
            <div class="container-fluid">
                <img src="" alt="">
                <h2>Nome da loja:</h2>
                <ul class="navbar-nav" id="nav_not_vertical">
                    <li class="nav-item" id="nav_not_vertical"><a href="">Lançamentos</a></li>
                    <li class="nav-item"><a href="">todos produtos</a></li>
                    <li class="nav-item"><a href="">filtrar</a></li>
                </ul>
            </div>
        </nav>
        <section class="section_enterprise">
            <div>
                <div class="container">
                    <div>

                    </div>
                </div>
            </div>
        </section>
        <section>

        </section>
    </main>

    {% endblock header %}
    {% block footer %}{% endblock footer %}
</body>
</html>