<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% extends 'html/bases.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/mobile.css'  %}" alt="css_max768">
    <link rel="stylesheet" href="{% static 'css/desktop.css' %}" type="text/css" alt="css_max1300">
    <title>Interprise</title>

</head>
<body>
    {% block header %}
    <main>
        <nav class="navbar navbar-light bg-light" id="nav-enterprise">
            <div class="container">
                <h2>Jose esquina</h2>
                <ul class="nav-bar-select">
                    <li class="list-inter" id="nav_not_vertical"><a class="a-inter" href="">LANÇAMENTOS</a></li>
                    <li class="list-inter"><a class="a-inter" href="">TODOS</a></li>
                    <li class="list-inter"><a class="a-inter" href="">FILTRAR</a></li>
                </ul>
            </div>
        </nav>
        <section class="section_enterprise">
            <h2 style="padding-bottom: 1%;">Filtragem:</h2>
            <div class="content_products">
                <a href="" style="text-decoration: none;color: black;" class="ref_item_product">
                    <div class="itens-img">
                        <img src="{% static '/imgs/test_img_inter.png' %}" alt="" class="enterprise_product_img"><h3>pão de queijo</h3>
                    </div>
                </a>

                <a href="" style="text-decoration: none;color: black;" class="ref_item_product">
                    <div class="itens-img">
                        <img src="{% static '/imgs/test_img_inter.png' %}" alt="" class="enterprise_product_img"><h3>pão de queijo</h3>
                    </div>
                </a>

                <a href="" style="text-decoration: none;color: black;" class="ref_item_product">
                    <div class="itens-img">
                        <img src="{% static '/imgs/test_img_inter.png' %}" alt="" class="enterprise_product_img"><h3>pão de queijo</h3>
                    </div>
                </a>

                <a href="" style="text-decoration: none;color: black;" class="ref_item_product">
                    <div class="itens-img">
                        <img src="{% static '/imgs/test_img_inter.png' %}" alt="" class="enterprise_product_img"><h3>pão de queijo</h3>
                    </div>
                </a>

                <a href="" style="text-decoration: none;color: black;" class="ref_item_product">
                    <div class="itens-img">
                        <img src="{% static '/imgs/test_img_inter.png' %}" alt="" class="enterprise_product_img"><h3>pão de queijo</h3>
                    </div>
                </a>
                
            </div>
        </section>
    </main>

    {% endblock header %}
    {% block footer %}{% endblock footer %}
</body>
</html>