@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* font-famils imports: Dancing Script, Abel, Tinos*/

/* Global config */
html{
    margin: 0;
    padding: 0;
    background-color: rgba(2, 2, 1, 0.753);
    min-height: 100vh;
    position: relative;
    
}
body{
    margin-bottom: 60px;
}

/* navbar */
nav#not_block{
    color: wheat;
    padding-right: 2%;
}
li.nav-item{
    text-decoration: underline;
}

ul#nav_not_vertical > li{
    font-size: 1.5vw;
    
}

.nav-link.active:hover{
    background-color: rgba(255, 255, 255, 0.705);
    animation: 0.2;
}
div#not_underline > i{
    font-size: 0.5em;
}

i.bi.bi-person-circle{
    size: 10px;
}

/* main of anunciment */
main{
    height: 88%;
    width: 100%;
    padding-top: 2%;
    padding-right: 4%;
    padding-left: 4%;
    background-color: rgba(2, 2, 1, 0.753);
    padding-bottom: 5%;
}
section.upper_main_img{
    background: black url('../imgs/background_img_upper.jpg') no-repeat;
    height: 80vh;
    border-radius: 1%;
    color: black;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.795);
}
section.upper_main_img > h1{
    font-family: 'Tinos', 'Serif';
    font-size: 5vw;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 1px white;
    padding-top: 4%;
}

.anunnciment{  
    display: inline;
    padding-top: 1%;
}

div.text-img{
    display: inline;
    width: 50%;
    height: 20%;
    float: left;
    padding-left: 1%;
    padding-top: 8%;
}

div.text-img > h2{
    font-size: 50px;
}
div.text-img > p{
    font-size: 30px;
}
div.text-img > h2 , p{
    font-family: "Dancing Script", serif;
    color:aliceblue;
    text-align: right;
}
.img-anoucement{
    display: inline;
    margin-left: 2%;
    max-width: 100%;

}

img#pizza_anuciment{
    display: inline;
    width: 450px;
    max-width: 34vw;
    max-height: 87vh;
    min-width: 30%;
}

.button_annoucement{
    color: black;
    background-color: yellow;
    border-radius: 5%;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.562);
    font-size: 2vw;
    float: right;
    margin: 1%;
}
.button_annoucement-nonebg{
    border: 3px dashed white;
    box-shadow: 2px 5px 5px black;
    float: right;
    border-radius: 5%;
    font-size: 1.5vw;
    margin: 1%;
}
.button_annoucement, .button_annoucement-nonebg{
    display: inline;
    width: 12vw;
    height: 7vh;
}
/* Outer produts section */
.section_outher_products{
    background-color: rgba(255, 255, 255, 0.541);
    border-radius: 5%;
    border: 3px solid white;
    margin-top: 1%;
    padding-top: 2%;
    border-radius: 2px;
    height: 65vh;
    min-height: 50vh;
}
h2.title_produts{
    text-align: center;
    font: normal 3em "Dancing Script";
    color: white;
    padding-bottom: 4%;
}
.our_produts{
    display: flex;
    justify-content: space-between;
    
}
.ref_ou_product > .enterprise_img{
    background-color: rgba(240, 248, 255, 0.829);
    box-shadow: none;
    min-width: 50%;
   
}
.ref_ou_product > .enterprise_img:hover{
    width: 90%;
    margin-top: 5%;
    animation: 2s backwards;
}

.ref_ou_product:hover{
    background-color: rgba(240, 248, 255, 0.603);
    border-radius: 2%;
    text-align: center;
}

.text_our_products{
    color: black;
    display: flex;
    position: relative;
    bottom: 2em;
    margin-left: 7%;
    justify-items: first baseline;
    gap: 21%;
}
.text_our_products > h3 {
    font-family: "Tinos";    
}
/* Section extra infor */
.section_infor_extra{
    height: 70vh;
    margin-top: 4%;
    background-color: rgba(205, 211, 197, 0.336);
    border: 2px solid white;
}

.section_infor_extra > h2{
    position: relative;
    color: whitesmoke;
    font-family: 'Abel';
    bottom: 6vh;
    font-size: 3em;
    padding-left: 3%;
}
.content_extra_info{
    display: flex;
}

.text_in{
    display: inline;
    float: left;
    font-size: 1.7em;
    padding-top: 2%;
    margin-right: 5%;
    margin-left: 2%;
}
button.button_annoucement-nonebg > div.text_in{
    font-size: 1vw;
    float: left;
}

.imgs_extra_info{
    display: flex;
    position: relative;
    padding-right: 5%;
}

.width_extra_info_img{
    width: 180px;
    min-width: 20%;
    max-width: 20vh;
}
img#central_extra_info_img{
    padding-top: 5vh;
    width: 300px;
    min-width: 20%;
    max-width: 20vw;
    
}
/* Mid section annoucement */

.mid_main_anouciment{
    background: black url('../imgs/background_mid.png') no-repeat;
    background-size: cover;
    margin-top: 1%;
    border-radius: 2%;
    height: 40vh;
}

.paragraphy_mid > p{
    font-family: 'Abel';
    color: black;
    font-size: 5vw;
    margin-top: 7%;
}
.p_mid_section{
    background-color: #AAA398;
    padding: 1%;
    float: right;
    border-radius: 4%;
}

section#background_bread{
    background: black url('../imgs/background_img_bread.png');
    background-size: cover;
}
/* footer */
footer {
    display: inline;
    position: absolute;
    left: 0;
    clear: both;
    width: 100%;
    text-align: center;
    background-color: rgba(2, 2, 1, 0.849);
    bottom: 0;
  
}

.footer_info{
    max-width: 70vw;
    text-align: center;
}

.footer_inline > li{
    display: inline-block;
    font-size: 1vw;
    padding: 1%;
}


/* enterprise nav top the main */
nav#nav-enterprise{
    margin-top: 2%;
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: 0px 2px 3px 3px black;
    border-radius: 0.5%;
}

/* enterprise main*/

.section_enterprise{
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.719);
    box-shadow: 0px 5px 3px 3px black;
}

.img-interprise{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-bottom: 5%;
    max-width: 80vw;
}   
.layer-enterprise{
    display: flex;
    font-size: 2vw;
    justify-content: space-around;
    font-family: Abel;
}

.content_enterprise{
    border: 2px solid black;
    box-shadow: 1px 2px 2px 2px black;
    border-radius: 4%;
    padding: 1%;
}
.content_enterprise:hover{
    background-color: rgba(131, 125, 38, 0.685);
    animation: .1s;
}


.enterprise_img{
    width: 300px;
    max-width: 30vw;
    min-width: 20%;
    border-radius: 2%;
    box-shadow: 1px 1px 2px 2px black;
}
/* information main page */
.section_info{
    padding-top: 4%;
    margin-top: 4%;
    background: url('../imgs/background_info.png') black no-repeat;
    background-size: cover;
    height:30vh;
}
.title_info{
    color: white;
    font-size: 2vw;
}
.p_info{
    font-family: 'Abel';
    color: rgb(231, 229, 229);
}

/* main photos page */

section#Photos_bg{
    background-color: rgba(0, 0, 0, 0.719);
}

.content_enterprise_photos{
    background-color: azure;
    border: 2px solid black;
    box-shadow: 1px 2px 2px 2px black;
    border-radius: 4%;
    padding: 1%;
}

.content_enterprise_photos:hover{
    background-color: rgba(131, 44, 38, 0.685);
    animation: .1s;
}

/* section login main */

.section_login{
    padding: 10%;
    margin-top: 3%;
    background: black url('../imgs/login_page.png') no-repeat;
    background-size: cover;
    box-shadow: 0px 5px 3px 3px black;
    
}
div.mb-3 > label{
    float: left;
    color: white;
}

div#emailHelp{
    color: white;
    text-decoration: underline;
}

/* section register main */
section#bg_register{
    background: black url('../imgs/register_page.png');
}

 /* interprise products page */

 ul.nav-bar-select{
    margin: auto;
    display: flex;
 }
 li.list-inter{
    display: inline-block;
    position: relative;
    margin: 5%;
 }
 .a-inter{
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
 }
 .content_products{
    display: flex;
    justify-content: space-evenly;
 }
 div.itens-img{
    border-radius: 1%;
    background-color: rgba(238, 232, 232, 0.719);
 }
 .enterprise_img{
    width: 12vw;
 }
 .itens-img > h3{
    text-align: center;
 }

