<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'css/mobile.css'  %}" alt="css_max768">
    <link rel="stylesheet" href="{% static 'css/desktop.css' %}" type="text/css" alt="css_max1300">
    <title>Documento base</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar justify-content-end navbar-expand-md fixed-top navbar-dark bg-dark" id="not_block"><!-- Navegation desktop -->
        <ul class="navbar-nav" id="nav_not_vertical">
            <li class="nav-item" id="nav_not_vertical">
                <a class="nav-link active" aria-current="page" href="{% url 'pagina001' %}">Inico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'suppliers' %}">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'photos' %}">Fotos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'infor' %}">Sobre</a>
            </li>
        </ul>
        <div class="col-md-3 text-end" id="not_underline">
            <a href="{% url 'logon' %}"><button class="btn btn-outline-primary me-2">Entrar</button></a>
            <a href="{% url 'register' %}"><button class="btn btn-primary">Registrar</button></a>
            <a href="#"><i class="bi bi-box-arrow-right"></i></a>
        </div>
    </nav><!-- end navegation desktop -->
    <br>
    {% block header %}{% endblock header %}
    <footer>
        <div class="container">
            <div class="footer_info">
                <ul class="footer_inline">
                    <li><a href="#">SOBRE</a></li>
                    <li><a href="#">Privacidade</a></li>
                    <li><a href="#">Status</a></li>
                    <li><a href="#">Contato</a></li>
                    <li><a href="#">termos</a></li>
                    <li><a href="#">versão</a></li>
                </ul>            
            </div>
        </div>
    </footer>
    {% block footer %}{% endblock footer %}
</body>
</html>