<!DOCTYPE html>
{% extends 'html/bases.html' %}
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações</title>
</head>
<body>
    {% block header %}
    <main>
        <section class="section-enterprise">
            <div class="container">
                <div class="info_project">
                    <h1>Sobre o projeto</h1>
                    <p>Projeto open source, criado para auxiliar clientes e fornecedores</p>
                </div>
                
            </div>
        </section>
    </main>
    {% endblock header %}
    {% block footer %}{% endblock footer %}

    
</body>
</html>