<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/portable.css">
        <title>Pagina Principal</title>
        {% load bootstrap5 %}
</head>
<body>
    <header>
        <section>
            <nav class="nav nav-pills nav-fill">
                
                <a class="nav-link active">INICIO</a>
                <a>PARCEIROS</a>
                <a>SOBRE NOS</a>
        
            </nav>
        </section>

    </header>
    <main></main>
    <footer></footer>
</body>
</html>