<!DOCTYPE html>
<html lang="pt-br">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="{% static 'css/mobile.css'  %}" alt="css_max768">
        <link rel="stylesheet" href="{% static 'css/desktop.css' %}" type="text/css" alt="css_max1300">
        <title>Pagina Principal</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
</head>
<body>
    <header>

        <div class="collapse"><!-- Navegation mobile -->
            <div class="bg-dark p-4">
                <h5 class="text-white h4">Collapsed content</h5>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div><!-- End navation mobile -->

    </header>
    <nav class="navbar justify-content-end navbar-expand-md fixed-top navbar-dark bg-dark" id="not_block"><!-- Navegation desktop -->
        <ul class="navbar-nav" id="nav_not_vertical">
            <li class="nav-item" id="nav_not_vertical">
                <a class="nav-link active" aria-current="page" href="#">Inico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Empresas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Fotos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Sobre</a>
            </li>
        </ul>
    </nav><!-- end navegation desktop -->
    <br>
    <main>
        <section class="upper_main_img">
            <div class="container">
                <h1>Fornecedores do dia</h1>
                <div class="anunnciment">
                    <div class="text-img">
                        <h2>Pizza Italiana</h2>
                        <p>Deliciosa pizza italina a com tomate pomodoro e de longa fermentação</p>
                        <button class="button_annoucement">Ver Loja</button>
                        <button class="button_annoucement-nonebg">Fazer pedido</button>
                    </div>
                    <div class="img-anoucement" class="img-fluid">
                        <img src="{% static '/imgs/pizza.png' %}" alt="img_pizza" id="pizza_anuciment">
                    </div>
                </div>
            </div>
             
        </section>
        <section class="mid_main_anouciment">
            <div class="img_background_mid">
                <div class="paragraphy_mid">
                    <p>Ver lojas parceiras</p>
                </div>
            </div>
            <div>
                <div>
                    <p>Ver novos produtos</p>
                </div>
            </div>
        </section>
    </main>
    <footer></footer>
</body>
</html>