@charset "UTF-8";

main{
    background-color: black;
}

s

section.upper_main_img{
    background: black url('../imgs/background_img_upper.jpg') no-repeat;
    color: black;
    padding: 7%;
    border-radius: 1%;
    margin: 5%;
}

.anunnciment{  
    width: 100%;
    height: 80vh; 
    text-align: center;
    
}

section > h1{
    text-align: center;
    padding-top: 1%;
}
