@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
}
header{
    display: block;
}



section.upper_main_img{
    background: black url('../imgs/background_img_upper.jpg') no-repeat;
    color: black;
}

.anunnciment{  
    height: 75vh;
    width: 100%;
    text-align: center;
    
}

section > h1{
    text-align: center;
    padding-top: 5%;
}
