@charset "UTF-8";
@media screen and (max-width: 720px){
    .upper_main_img{
        height: 50%;
        width: 100%;
        display: block;
    }
    .navbar-nav, .nav-response{
        display: none;
        visibility: hidden;
        
    }
    
    
}